[2017-02-17 11:03] alleycat-at-git opened #21 "PropTypes"
1) PropTypes now are not working as expected.

Example:
[code]

I had to specify the `progress` prop, because o/w the code was throwing exceptions and didn't render. To figure out the cause of this exceptions, I had to dig through the source code of `egghead-ui`.

It'd be great if I had immediate propTypes warnings about missing data.

2) https://github.com/eggheadio/egghead-ui/blob/master/src/com

[2017-02-20 20:36] tayiorbeii commented on #21
@alleycat-at-git Is this fixed with the updates to `egghead-ui` ?

[2017-03-02 22:38] trevordmiller opened #48 "Promote Markdown component from instructor center"

[2017-03-02 22:50] #48 closed

[2017-03-09 03:18] trevordmiller commented on #21
Closing as the card components have moved out of egghead-ui and into egghead-rails, since they were prematurely promoted to egghead-ui (they are not used across egghead projects).

[2017-03-09 03:18] #21 closed

[2017-03-09 03:22] trevordmiller opened #59 "Add tachyons-egghead classes"
Would be nice to add tachyons-egghead classes; things like color names etc. Most likely we can piggy back on how tachyons docs are generated and inject it into the styleguide app. Should cover ways we have overridden tachyons:
- [ ] [colors](https://github.com/eggheadio/tachyons-colors)
- [ ] [border colors](https://github.com/eggheadio/tachyons-border-colors)
- [ ] [flexbox](https://github.com/eg

[2017-03-09 08:04] justin808 opened #60 "Warning: Invalid argument supplied to oneOf, expected an instance of array."
[code]

from

[code]

[2017-03-09 08:05] justin808 commented on #60
To repro, go to browse/libraries/redux in the developer version of egghead-rails.

[2017-03-09 17:45] trevordmiller commented on #60
Hey @justin808, card and course info, as well as the `expansions` utitity have been moved out of `egghead-ui` since they are specific to the `egghead-rails` project and `egghead-ui` is for things that are used across all egghead projects. @tayiorbeii and @DrShpongle are working on putting these things back into `egghead-rails`. Once they do, you can upgrade to latest `egghead-ui` and change the pr

[2017-03-09 17:45] #60 closed

[2017-03-10 19:30] ijones16 opened #66 "Add FAChevronLeft to Icons"
We have don't have chevron-left in `<Icons/>`.

We will need this for the pagination component coming soon.

[2017-03-10 21:10] theianjones commented on #66
[#67] Resolved this.

[2017-03-10 21:10] #66 closed

[2017-03-20 21:46] trevordmiller opened #73 "Promote Instructor Center "List""
The `List` component is currently implemented in the Instructor Center:
https://github.com/eggheadio/egghead-instructor-center/blob/master/src/components/List/index.js

All it does is accept a list of items, and renders them stacked vertically with A) a light border on the bottom of every item but the last and 2) equal padding around each item. It is often used inside of a `Card` component directl

[2017-03-20 22:01] trevordmiller opened #74 "Replace react-storybook for styleguide creation"
Currently we are using [react-storybook](https://github.com/storybooks/react-storybook) to create the styleguide app piece of egghead-ui, which gets published to http://styleguide.egghead.io. It would be good to move to another solution (potentially build our own open source package) since the company behind storybook has folded and we don't need all the config it offers.

# How react-storybook is

[2017-03-20 22:10] trevordmiller opened #75 "Remove unused components"
Some components were built directly in egghead-ui before first being used in an egghead project; because of this, their prop types and layout composition haven't been tested. In the future, it would be better to implement components/utils directly in a project and then discuss and promote to egghead-ui as needed so that components in egghead-ui are battle tested and ready for use across projects.

[2017-03-20 22:20] trevordmiller opened #76 "Promote egghead-ui "Loading" sub-component"
Currently, the `Request` component has a `Loading` sub-component. This used to be exposed directly, but I (Trevor) made the mistake of moving it into `Request` as I thought it was only being used there. We need to promote it back up to it's own exported component, independent of `Request`.

https://github.com/eggheadio/egghead-ui/tree/master/src/components/Request

egghead-rails is needs to use it

[2017-03-20 22:27] trevordmiller opened #77 "Promote Instructor Center "Card""
Currently egghead-rails and egghead-instructor-center both have a `Card` component. I'd like to propose [the one from the Instructor Center](https://github.com/eggheadio/egghead-instructor-center/blob/master/src/components/Card/index.js) be promoted to egghead-ui for reuse. It was designed by Vojta recenty and is used heavily in the Instructor Center.

The reasons I suggest the Instructor Center `

[2017-03-20 22:45] trevordmiller commented on #76
Hey @ijones16, would you mind tackling this one?

[2017-03-21 10:08] vojtaholik commented on #75
Makes sense to me.

[2017-03-21 10:14] vojtaholik commented on #73
Example of List breakdown: https://zpl.io/ZddDih
- this is a latest up-to-date design for lists, it has new colors, shadow definitions, comments regarding interactions and such.

Feel free to use it as example, I think it can easily carry a variety of different data.

There's a bridge between this list and list of lessons in IC -> in IC, there's a "responsive" / less wide version present, but over

[2017-03-21 10:41] vojtaholik commented on #77
**Card guidelines:**
![card](https://cloud.githubusercontent.com/assets/25487857/24143879/824a8680-0e2b-11e7-8033-40aa51385115.png)

_I also use 24px padding for content inside the card._
IC background color: **$gray** (#F4F5F9)
this shadow applies for IC cards only (more shadow classes, yay :) )

[2017-03-21 10:56] vojtaholik commented on #74
Wouldn't be better to work on components/pages and define all the buttons, icons and elements **on the go**, while adding them to a "library" _and re-using when and where we want?_ That way we could see what does really work and what we really need.

[2017-03-21 16:46] joelhooks commented on #75
@tayiorbeii you should capture this work, for reference if nothing else. We could just toss it in a "lost toys" repo. They will all be needed in the future.

[2017-03-21 16:49] joelhooks commented on #73
This looks ready to go to me.

[2017-03-21 16:51] joelhooks commented on #77
This means we will need to consider shadows as a configurable property? I think our `ContentCards` have a less pronounced corner radius as well.

[2017-03-21 16:52] joelhooks commented on #74
@trevordmiller would you write this as part of egghead-ui initially? Feels like a full on project.

[2017-03-21 16:53] trevordmiller commented on #73
Sounds great. I'm moving this to the "Ready to implement" column. @tayiorbeii, would mind taking on this story? To be clear, it is just the promotion of [the Instructor Center `List` component to `egghead-ui`](https://github.com/eggheadio/egghead-instructor-center/blob/master/src/components/List/index.js). The examples Vojta posted are ways it will be composed in other components like `LessonList`

[2017-03-21 16:54] trevordmiller commented on #75
Sounds like this is ready to be implemented and @tayiorbeii plans to work on it. I'm moving it to the "ready to implement" column.

[2017-03-21 16:58] trevordmiller commented on #74
@joelhooks I would imagine this would work best as an open source npm package in it's own repo (either in a personal repo or as part of the egghead org). I'm planning to do this in my own GitHub and then use it here, but am trying not to specify implementation details ;)

[2017-03-21 17:00] trevordmiller commented on #74
@vojtaholik Yes, that is the plan. Which is why we have this issue to get back to that: https://github.com/eggheadio/egghead-ui/issues/75
This story is just to change the underlying engine/config for how we render the docs + examples from the components that do get put in `egghead-ui` after they have been battle tested in a project and promoted here.

[2017-03-21 17:01] trevordmiller commented on #77
Any reason why we can't keep the border radius and box shadow consistent? If not, I'd say it would be best to keep `Card` in the individual projects if they are specific to the project, rather than adding styling config.

[2017-03-21 17:03] tayiorbeii commented on #75
@trevordmiller @joelhooks Pushed the components listed above to https://github.com/eggheadio/egghead-ui-vault

I didn't create a `master` branch first, but it looks like they made it there just fine.

[2017-03-21 17:12] trevordmiller commented on #75
Cool, thanks Taylor

[2017-03-21 18:11] vojtaholik commented on #77
Corner radius = 3 or 5 px (not sure what tachyons default is, although you can use the same all over the place, not that big deal)

Regarding shadows - design-wise it's all about the background. Shadows always look great when they're colored a right way to nicely blend with background. So it's better to have different shadow for dark background and different for light bg.

Then we have a shadow fo

[2017-03-21 18:21] joelhooks commented on #77
Design is all about context and ratios. Having some flexibility to support different contexts is important.

 We can just close this, if that sort of flexibility isn't going to be part of this reusable library of components, and we'll just live with 2 Cards that behave slightly differently.

[2017-03-21 18:58] trevordmiller commented on #77
That makes sense. So sounds like the current implementation would be good for promotion if we use the `br2` tachyons border radius class and then have a `shadow` prop which can default to `normal` and optionally be `strong` or whatever for dark backgrounds and can add to this prop options list as more shadow types are needed. Does that sound reasonable?

[2017-03-21 19:00] vojtaholik commented on #77
yes, sounds great. 👍

[2017-03-21 19:01] trevordmiller commented on #77
I think flexibility is great when it has a specific purpose and there are good defaults. So for example, instead of passing a `className` prop you have clearly defined purposes for the `shadow` prop with use cases for options. But if a component is extremely customizable or specific to a project, I don't think it belongs in `egghead-ui`. With this `Card` case though, I think having the configurabl

[2017-03-21 19:06] joelhooks commented on #77
![image](https://cloud.githubusercontent.com/assets/86834/24165709/5cc0865a-0e2e-11e7-9080-65badb7ad041.png)

I'm only discussing the border radius and shadow. These content cards have a very tight shadow, where the "screen section" cards have a larger blurred shadow.

Large section cards make a lot of sense with a 5px corner radius, where "inner" cards like the content card make sense with a less

[2017-03-21 19:21] trevordmiller commented on #77
Yeah I agree. So it sounds like the use cases are 1) outer/inner cards which can either be 2) on light or dark backgrounds? So here is my proposal for the component to make these use cases easy and keep config to a minimum (for mental burden):

[code]

So then you can do:
[code]

Does that sound good?

[2017-03-21 19:22] joelhooks commented on #77
This specific component is literally the building block of our entire redesign, so I'm going to share some additional thoughts.

In terms of purpose, the shadow and radius provide weight and priority for the contents of the card. This is similar to `h1` `h2` `h3` in that we have cards that exist at different levels of context. The Card contents are contextually specific and not appropriate for inc

[2017-03-21 19:24] trevordmiller commented on #77
Yeah you are right about that, `title` and `description` should be pulled out of `Card`.

[2017-03-21 19:26] joelhooks commented on #77
I like the idea of a `level` and that would totally fit with my line of reasoning 👍

I think pulling the title and description out for this is probably a solid idea.

[2017-03-21 19:27] trevordmiller commented on #77
Ok, so @vojtaholik, could you attach a list of styles or mocks that should be applied at each `level` of a card? Sounds like the border radius, box shadow should be applied depending on the `level` of the card?

[2017-03-21 19:30] trevordmiller commented on #77
So we can do something like:
[code]

[2017-03-21 19:36] joelhooks commented on #77
I think starting out with 2 levels would be sensible and keep available options to what we currently need (in terms of what I've seen on the existing designs).

[2017-03-21 19:38] joelhooks commented on #74
I would recommend capturing this in a Paper doc at this point, as it is tangentially related to `egghead-ui` and is mid to far future work.

[2017-03-21 19:42] trevordmiller commented on #77
Ok cool, moving this to "Ready to implement"

[2017-03-21 19:44] trevordmiller commented on #74
https://paper.dropbox.com/folder/show/egghead-ui-e.iX7ZavGxujPFwhjOZcQs9wNRG3Adn3OYQVaPVEEVnnqeU48mzY

[2017-03-21 19:44] #74 closed

[2017-03-21 19:47] vojtaholik commented on #77
Sure, will do, adding to my to-do list. ;)

[2017-03-21 19:56] trevordmiller commented on #77
@vojtaholik Thanks. Just this bit:
[code]

Looks like this:
![image](https://cloud.githubusercontent.com/assets/5497885/24168442/cee83582-0e3f-11e7-91f6-0c09d0d25207.png)

![image](https://cloud.githubusercontent.com/assets/5497885/24168456/db09927a-0e3f-11e7-923c-8932e8fb1c5e.png)

Does that look good for the first two levels? Also, should the background of the card always be white or should I le

[2017-03-21 20:15] vojtaholik commented on #77
I recommend setting up default bg color to $base rather than plain black bc you can't see shadows there. And we use it on website. Cards are usually white, sometimes with gray _description_ header. Not sure what do you mean by transparent in this case. :( If you mean whether we'll be changing bg color of card, answer is we probably won't, can't think of an example now.

[2017-03-21 20:23] trevordmiller commented on #77
@vojtaholik Ok cool. Here's a story for switching from `navy` to `$base` for the default background when projects import `tachyons-egghead`: https://github.com/eggheadio/tachyons-egghead/issues/23.

For this issue specifically, I've already got `Card` set up to white background so we should be good to merge:
https://github.com/eggheadio/egghead-ui/pull/78

[2017-03-21 21:11] #77 closed

[2017-03-21 21:13] trevordmiller commented on #59
Needs more discussion in paper, not a priority right now. Closing.

[2017-03-21 21:13] #59 closed

[2017-03-21 23:10] trevordmiller commented on #77
Implemented in the Instructor Center: https://github.com/eggheadio/egghead-instructor-center/pull/188

[2017-03-21 23:11] trevordmiller commented on #73
I'm grabbing this since Taylor is busy with the tachyons-egghead simplifying forks.

[2017-03-22 18:05] theianjones commented on #76
When promoting components in egghead-ui, what is the process around updating IC and egghead proper? Just update when you need it? Obviously, communication will make that easier.

[2017-03-22 19:42] trevordmiller commented on #76
@ijones16 Here is the full process to adding a component to `egghead-ui`:
1) create a feature branch off of `egghead-ui` master.
2) in `egghead-ui`, add the new component to `src/components/{NewComponent}/index.js`; in this case since the component already exists in `egghead-ui` but isn't exposed at the top level, you'll just need to move `src/components/Request/components/Loading/` to `src/compon

[2017-03-22 19:48] theianjones commented on #76
That makes sense :) I was thinking more about keeping other projects up to date with egghead-ui. IE Right now egghead proper defines its own loading component and once this loading component (the one in Request) gets promoted up to egghead ui, we dont want the component in egghead proper, we now want to use the new component from egghead-ui. It is probably a non issue though "just update the compo

[2017-03-22 19:49] trevordmiller commented on #76
@ijones16 oh I see. I believe this is my job as the technical owner of `egghead-ui` - once a new component is in the library, educate the team to be able to use it. But with the version bumps, it means projects can upgrade and adopt whenever they are ready without breaking anything in the meantime.

[2017-03-22 19:51] joelhooks commented on #76
@trevordmiller or delegate it! :)

[2017-03-22 19:53] trevordmiller commented on #76
@joelhooks for sure. Either way, I'll make sure when a new component get's added to `egghead-ui` that the team knows and will take on upgrading projects or delegate to others so we can all stay in sync :)

[2017-03-22 20:25] trevordmiller commented on #76
@ijones16 Here is a full example PR with the `List` component I just promoted from egghead-instructor-center to egghead-ui: https://github.com/eggheadio/egghead-ui/pull/80#pullrequestreview-28500402

[2017-03-22 21:54] #73 closed

[2017-03-22 22:38] trevordmiller commented on #75
Implemented and waiting for review on https://github.com/eggheadio/egghead-ui/pull/82#pullrequestreview-28530290

[2017-03-22 22:48] #75 closed

[2017-03-22 23:57] theianjones commented on #76
#83 resolves this

[2017-03-22 23:57] #76 closed

[2017-03-23 15:20] trevordmiller opened #85 "Upgrade to latest tachyons-egghead with color changes"
`tachyons-egghead` has been updated to a smaller subset of colors. We need to upgrade `egghead-ui` to latest `tachyons-egghead` and replace any deprecated colors. It would also be nice to display these colors with their tachyons classes in the styleguide app.

Color list:
https://github.com/eggheadio/tachyons-colors/blob/master/src/tachyons-colors.css

![image](https://cloud.githubusercontent.com/

[2017-03-23 20:00] #85 closed

[2017-03-24 17:09] ijones16 opened #87 "Add ChevronDown to <Icon/>"
The header component in egghead-rails, needs an ChevronDown Icon.

When egghead-ui promotes a dropdown component [[disscussed here](https://github.com/eggheadio/egghead-rails/pull/1170)], we will need one anyway!

[2017-03-24 17:14] trevordmiller commented on #87
Sounds good @ijones16. I put it in the "Ready to implement" column. Do you mind taking care of this one?
https://github.com/eggheadio/egghead-ui/projects/2

[2017-03-24 17:43] theianjones commented on #87
will do!

[2017-03-24 18:55] #87 closed

[2017-03-24 20:33] ijones16 opened #90 "Promote egghead logo"
Instructor center currently defines logo:
https://github.com/eggheadio/egghead-instructor-center/tree/master/src/components/Logo

We are now using the logo in egghead, in the header:
https://github.com/eggheadio/egghead-rails/blob/master/client/app/components/Header/index.js

This component will display our egghead logo. One difference to consider is that the logo in IC is responsive while the one

[2017-03-24 20:49] trevordmiller commented on #90
@ijones16 Good idea. Maybe we could have a single `Logo` component which can be `small` (eggo only) which could be used in both projects and then default which could be eggo + egghead.io which egghead-rails could use; then the IC can compose `<Logo small` + IC specific text?

@vojtaholik, @joelhooks, @tayiorbeii, @DrShpongle what are your thoughts on this?

[2017-03-24 21:08] trevordmiller opened #91 "Add color palette to styleguide app"
It would be nice to have the color palette rendered in the styleguide portion of egghead-ui so that if you go to http://styleguide.egghead.io you see it, with the names available to use.

Mocks:
https://egghead.invisionapp.com/d/main#/console/10384631/225150686/comments

![image](https://cloud.githubusercontent.com/assets/5497885/24313744/e21992de-10a3-11e7-9e9e-8d925b94c21b.png)

[2017-03-24 21:10] trevordmiller commented on #91
@vojtaholik @joelhooks @tayiorbeii @DrShpongle I believe this story is ready to be implemented; is there anything we should discuss first?

[2017-03-24 22:07] ijones16 opened #92 "Add full style guide typography support"
When we use these in egghead-proper, sometimes we need the text to be dark. We can't use the Paragraph tag in the `<Header/>` component because the text defaults to white.

Allowing custom styles to be passed in and applied could fix this. We could just start with the app colors (I think this would cover most cases for text color)

One example is the header component:
![](https://camo.githubuserco

[2017-03-24 22:32] trevordmiller commented on #92
Neither `Header` or `Paragraph` dictates color; you can cascade color with tachyons with wrapper elements like this:
[code]

Make sense? If you are experiencing color overrides, check your developer tools for react-rails specific color overriding by global element / class etc.

But yes, we could also add the functionality to pass `color` as a prop. I'd like to see what variations of text formattin

[2017-03-25 18:25] tayiorbeii commented on #90
Good catch & ideas!

[2017-03-26 18:19] trevordmiller opened #93 "Polish Button component"
Vojta has proposed some changes to the `Button` component in his latest styleguide mocks:
https://egghead.invisionapp.com/d/main#/console/10384631/225150686/comments/79600739

## Current

http://styleguide.egghead.io/?selectedKind=Button&selectedStory=Info&full=0&down=1&left=1&panelRight=0

## Proposed changes

- Update the `size` options to `small`, `medium`, `large`, and `xlarge`
- Add a minimum

[2017-03-26 18:25] trevordmiller opened #94 "Polish List component"
Vojta has proposed some changes to the `List` component in his latest styleguide mocks:
https://egghead.invisionapp.com/d/main#/console/10384631/225150686/comments/79600739

## Current

http://styleguide.egghead.io/?selectedKind=List&selectedStory=Info&full=0&down=1&left=1&panelRight=0

## Proposed changes

- Add a `size` option of oneOf `small` `medium` or `large`, default `medium`; with each siz

[2017-03-26 18:30] trevordmiller opened #95 "Promote Tabs component"
Vojta has proposed promoting the instructor center `Tabs` component to egghead-ui in his latest styleguide mocks:
https://egghead.invisionapp.com/d/main#/console/10384631/225150686/comments/79600739

## Current

https://github.com/eggheadio/egghead-instructor-center/blob/master/src/components/Tabs/index.js

![image](https://cloud.githubusercontent.com/assets/5497885/24334031/3b5921de-1220-11e7-991

[2017-03-26 18:37] trevordmiller opened #96 "Polish Loading component"
Vojta has proposed some changes to the `Loading` component in his latest styleguide mocks:
https://egghead.invisionapp.com/d/main#/console/10384631/225150686/comments/79600739

## Current

http://styleguide.egghead.io/?selectedKind=Loading&selectedStory=Info&full=0&down=1&left=1&panelRight=0

This is used as a stand-alone component, and also as the default fallback in `Request` when a request is r

[2017-03-26 18:40] trevordmiller opened #97 "Polish Card component"
Vojta has proposed some changes to the `Card` component in his latest styleguide mocks:
https://egghead.invisionapp.com/d/main#/console/10384631/225150686/comments/79600739

## Current

http://styleguide.egghead.io/?selectedKind=Card&selectedStory=Info&full=0&down=1&left=1&panelRight=0

Note that all this component currently does is render the `children` passed with a wrapper (background color whi

[2017-03-26 19:44] joelhooks commented on #93
Button "levels" doesn't make sense to me at all. They aren't hierarchical containers.

@vojtaholik is using colors to represent content types, so defaulting buttons to one of those colors might be weird. I'd consider defaulting to a neutral color.

[2017-03-26 19:48] joelhooks commented on #97
@vojtaholik we want to lift **every** card with that strong of a shadow? So a stack of cards in a grid will have aggressive shadows?

![image](https://cloud.githubusercontent.com/assets/86834/24334629/64497a74-1222-11e7-87f9-92329871a687.png)

I don't know that I'm digging that.

[2017-03-26 19:50] joelhooks commented on #96
https://github.com/eggheadio/egghead-rails/blob/master/client/app/bundles/legacy/components/checklist/CircularStatusMeter.js

[2017-03-26 19:52] joelhooks commented on #94
https://github.com/eggheadio/egghead-rails/blob/master/client/app/components/ContentList/index.js

[2017-03-26 19:52] vojtaholik commented on #97
@joelhooks no, I'll update this, It displays hover state atm.
@trevordmiller I'll update this issue and ping you once it's done.

[2017-03-26 20:53] trevordmiller commented on #96
@joelhooks Thanks for the link - that would work well maybe for a separate `LoadingProgress` component, but this is just a `Loading` component to indicate something is happening (maily for the `Request` fallback, where there isn't specific progress). @vojtaholik  designs link to a Codepen which is just a spinning version, not a progressing status:
http://codepen.io/aurer/pen/jEGbA

This can easily

[2017-03-26 20:55] trevordmiller commented on #94
@joelhooks What is the purpose of that link? In my eyes `ContentList` should be an instance of `List` that isn't promoted to `egghead-ui` yet - it is only in `egghead-rails` for now, where the container `List` is in egghead-ui (the padding on items and bottom border on each item but the last).

[2017-03-27 04:27] trevordmiller commented on #93
@joelhooks Sounds good, changed `levels` back to `sizes` as it currently is. But we do need to figure out what these sizes should be.

[2017-03-27 05:01] trevordmiller commented on #97
@vojtaholik Thanks 👍

[2017-03-27 14:29] vojtaholik commented on #93
Updated [styleguide](https://egghead.invisionapp.com/share/5WAZLYTET) with one more button size, now we have **S (h32 with special padding [24px] and no min-width set)**, M (h40), L (h48), XL (h56)

[2017-03-27 16:22] theianjones commented on #94
If we are using size instead of level for the buttons, would it make sense to do the same here?

[2017-03-27 16:24] theianjones commented on #92
Thanks for that comment! That makes a lot more sense. The Paragraph component has a lot more flexibility when used this way :)

[2017-03-27 17:56] trevordmiller commented on #94
@ijones16 Yeah you're probably right. As Joel suggested in the button comment, let's reserve `level` for components that have a hierarchy like `Card` and `Heading`, and `size` if not. I updated the description ^

[2017-03-27 17:59] trevordmiller commented on #93
Thanks @vojtaholik. I'll update this issue to match.

[2017-03-29 23:29] joelhooks commented on #90
This will have an "overDark" option, as the eggo logo changes as does the text color.

The actual eggo itself can be an svg Icon + variants?

[2017-03-30 02:27] trevordmiller commented on #90
That sounds like a good idea Joel.

[2017-03-30 02:28] trevordmiller commented on #90
Here is the instructor center logo implementation which could be a good starting point if anyone wants to take a whack at this:
https://github.com/eggheadio/egghead-instructor-center/tree/master/src/components/Logo

[2017-03-30 19:05] trevordmiller commented on #91
Once this tachyons story is done, we could programmatically map over the values to display them:
https://github.com/eggheadio/tachyons-egghead/issues/28

[2017-03-31 20:04] joelhooks opened #100 "Add gray color to icons"
We are using the gray color for icons and need it added so it won't be sad about the proptype with regards to color. We might consider adding all of our core colors or perhaps not enforcing it at all?

![image](https://cloud.githubusercontent.com/assets/86834/24567422/7b227efa-1612-11e7-9e9a-72fe7309a4ef.png)

[2017-03-31 20:21] trevordmiller commented on #100
This is another reason why this story would be very helpful:
https://github.com/eggheadio/tachyons-egghead/issues/28

Then you could have any components that have a `color` prop use:

[code]

[2017-04-03 18:14] trevordmiller opened #101 "Add Maybe component"
Would be nice to have a `Maybe` component to conditionally render content or null depending on if a condition is met, to replace the need for so many null ternaries.

Could be something like:

[code]
Which could be used like:
[code]
Instead of:
[code]

Idea from https://github.com/eggheadio/egghead-rails/pull/1295#discussion_r109486696 initially

[2017-04-03 19:24] theianjones commented on #101
I love this idea!

[2017-04-03 21:59] tayiorbeii commented on #95
Fixed via https://github.com/eggheadio/egghead-ui/pull/102

[2017-04-03 21:59] #95 closed

[2017-04-04 18:04] #101 closed

[2017-04-11 20:23] trevordmiller opened #107 "Extract components from the Instructor Center"
# Background info

The egghead-instructor-center project is being dissolved; the logic/routing/authentication will be moved into egghead-rails and the screens will be moved to egghead-ui.

# Changes

- [x] Rename "styleguide" wording to "app" in npm scripts and README.md
- [x] Move egghead-instructor-center components, utils, and screens to egghead-ui
- [x] Export the utilities where needed
- [x]

[2017-04-11 20:28] trevordmiller opened #108 "Housekeeping"
- [x] Babel preset should be babel-preset-env instead of babel-preset-latest (deprecated old version)
- [x] react-scripts (CRA) can be updated to latest
- [x] Only include in "files" / lib what is needed for package
- [x] React can be updated to latest, and will require replacing `React.PropTypes` with `prop-types` in `dependencies` (not dev or peer dependency) package
- [x] React Router can be up

[2017-04-11 20:41] trevordmiller opened #109 "Polish LessonActions component"
# Changes

The `LessonActions` component needs a few style tweaks:
- [x] A max width should be added to the lesson actions on desktop to better match the mocks
- [x] A left border should be added on the first lesson action on desktop to better match the mocks
- ~Don't display Replace and Upload on phone/tablet~
- [x] Smaller containers should look better

# Mocks

https://app.zeplin.io/project.htm

[2017-04-13 17:59] trevordmiller opened #111 "Rename styleguide.egghead.ui"
- Rename styleguide.egghead.io to ui.egghead.io
- Update Travis CI deploy to new location ^
- Find and replace styleguide.egghead.io with ui.egghead.io across the repo

[2017-04-13 18:00] trevordmiller opened #112 "Replace react-storybook"
It would be nice if we could replace the react-storybook parts of the **app** portion of egghead-ui, (all the storybook dependencies, config, and example files) with a single open source package that renders documentation and prop combinations automatically from component source files.  I’d like to make this as an open source npm package.

The generated app could have...
- A "Component API" featur

[2017-04-20 01:47] trevordmiller opened #113 "Replace /package link building with hypermedia"
I've been able to replace any link building in egghead-ui pieces with hypermedia URLs except for a couple places:
- `instructor.courses_url`: there is `root.instructor_series_url`) but that is only for the logged in instructor; seems that if an instructor has at least one course published they should get a `instructor.courses_url` like they have a `instructor.lessons_url`. The current link buildin

[2017-04-20 02:13] trevordmiller opened #114 "Add prop value selection"
Add viewing source and prop values selection so code / randomized prop values so examples are more useful. This will allow viewers to see all possible values in a consumable way.

# Notes

- https://www.npmjs.com/package/component-playground
- https://github.com/styleguidist/react-styleguidist/blob/master/Readme.md

[2017-04-20 18:09] trevordmiller commented on #113
Should be ready to go now that this is out: https://github.com/eggheadio/egghead-rails/pull/1357#pullrequestreview-33824669

[2017-04-20 18:11] #107 closed

[2017-04-20 18:11] #91 closed

[2017-04-20 18:11] #100 closed

[2017-04-20 18:11] #112 closed

[2017-04-20 19:13] theianjones commented on #113
Should we rename the `series_url` to `courses_url` on the [user object](https://github.com/eggheadio/egghead-rails/blob/master/app/views/api/v1/users/_user.json.jbuilder#L12)? I just added this. The review app is the only front end piece that uses it as of right now.

[2017-04-20 19:14] trevordmiller opened #117 "Finalize egghead-ui rebuild"
- [x] Ensure deployment to styleguide.egghead.io and npmjs.com/package/egghead-ui like normal
- [ ] Upgrade in egghead-instructor-center egghead-ui-merge branch and ensure everything works

[2017-04-20 20:29] trevordmiller commented on #113
@ijones16 Some endpoints use "series", some "courses" - would be nice to start using "courses" going forward. It shouldn't be on the user object should it? IMO the root api/v1 should have a "courses_url" (currently "series_url") which gives all courses, and then the instructor should have instructor.courses_url - specific to the instructor

[2017-04-20 20:29] trevordmiller commented on #113
But I'm cool with whatever as long as I can use it. Up to you and @peterkeen

[2017-04-20 20:32] trevordmiller opened #118 "Make actions more obvious"
Would be helpful to add a hover/active/focus state to all tapable items for both the cursor and component styles; this includes lesson actions, "Propose a lesson", etc.

[2017-04-20 20:34] peterkeen commented on #113
`Series` et. al. should be completely internal to `egghead-rails`. Everything public facing, including the API, should say `courses`. The fact that courses are currently implemented with the `Series` object is an implementation detail.

[2017-04-20 20:35] peterkeen commented on #113
(this is something that I have done a bad job communicating)

[2017-04-24 22:17] joelhooks opened #122 "Remove the gray border on bottom Tabs component"
In the [Tabs component](https://github.com/eggheadio/egghead-ui/blob/master/src/package/components/Tabs/index.js) there is a 1px horizontal border under the tab labels.

As it is now:
![image](https://cloud.githubusercontent.com/assets/86834/25361043/e3e26b34-2900-11e7-99dc-e44546864abd.png)

As we need it:
![image](https://cloud.githubusercontent.com/assets/86834/25361020/bdb9ed24-2900-11e7-8a57-

[2017-04-25 23:10] #113 closed

[2017-04-26 23:20] #117 closed

[2017-04-26 23:20] #122 closed

[2017-04-27 16:03] trevordmiller commented on #97
@vojtaholik Is this one ready to go?

[2017-04-27 16:06] vojtaholik commented on #97
@trevordmiller yes, the behavior of cards in live version is fine (looking at https://egghead.io/browse/libraries/redux).

[2017-04-27 16:56] #118 closed

[2017-04-27 17:20] trevordmiller commented on #109
I don't want to disable replace/upload based on screen size because I'm using container sizes for everything else, and I don't want to disable replace/upload based on feature detection with something like modernizr because 1) it requires a custom build and 2) pretty much all modern devices, mobile or desktop, have the File API and can upload files; so theoretically instructors could have a video o

[2017-04-27 19:01] joelhooks commented on #109
Tabling until when? I don't agree with this decision and prefer to not show functionality that doesn't make sense on a given platform.

[2017-04-27 19:22] trevordmiller commented on #109
@joelhooks When you say on a given platform, are you referring to a screen width? Because modern platforms all support the file API. If so, what screen width would you classify as "desktop"? Some tablets have a larger screen width than small desktops, for example - not even including orientation.

[2017-04-27 19:24] trevordmiller commented on #109
I don't understand the benefit of hiding things, when the functionality exists; you could upload or replace a video on modern mobile devices if you wanted.

[2017-04-27 19:26] trevordmiller commented on #109
I'd rather not start introducing arbitrary screen-width based features unless there are specific browsers/devices/screen sizes that should be omitted for a feature.

[2017-04-27 20:34] trevordmiller commented on #109
I'll assume 1200px total screen width and up is desktop, feels dirty but should work fine

[2017-04-27 22:15] trevordmiller commented on #97
@vojtaholik I guess I'm not sure what should be done for this story; what needs to be updated from the current Card component here: https://styleguide.egghead.io/components/Card (see the variations over light and dark between levels `1` and `2`)

[2017-04-28 09:56] vojtaholik commented on #97
Sorry for confusing @trevordmiller

I can't tell whether there's any shadow in styleguide view you've linked to. So just to be sure we're on a same track - I like how cards look in `egghead.io/browse` section. ;)

I've also updated invision styleguide with these as I promised (sorry it took so long):
![image](https://cloud.githubusercontent.com/assets/25487857/25524048/2f93821a-2c09-11e7-9f7c-50fc

[2017-04-28 16:25] joelhooks commented on #97
Should note that we're not using egghead-ui for any of the cards on egghead.io, we built them to spec with the provided design.

[2017-04-28 17:16] trevordmiller commented on #97
Yes there is shadow like that depending on the `level` used; you can see it by toggling the background color from dark to light in the egghead-ui app; closing this.

[2017-04-28 17:16] #97 closed

[2017-04-28 17:17] #109 closed

[2017-05-01 17:39] #93 closed

[2017-05-01 21:45] trevordmiller commented on #96
@vojtaholik Can I get an SVG of the ring? I can animate it to spin from there; it would be good if the ring itself was translucent so it will work over both dark and light backgrounds - is that possible?

[2017-05-01 22:35] trevordmiller commented on #94
Resolved by https://github.com/eggheadio/egghead-ui/pull/132

[2017-05-01 22:35] #94 closed

[2017-05-02 09:55] vojtaholik commented on #96
Sure thing @trevordmiller; this should do it:

svg - http://cloud.egghead.io/0K0I3P072801
hint - http://cloud.egghead.io/0k2O431J1Z33

[2017-05-02 20:20] trevordmiller commented on #96
Thanks Vojta

[2017-05-02 22:01] trevordmiller opened #137 "Replace manual resourcesByType creation with automatic generation"
Helpful info on programmatically getting proptypes here: https://github.com/storybooks/react-storybook-addon-info/issues/123#issuecomment-296413703

[2017-05-02 22:02] trevordmiller opened #138 "Start diving into graphql/relay"
If we wait until we can go "all in" we will be waiting literally forever, so we should discuss a small start (screen level)

publishing queue screen(s) might be logical?

[2017-05-02 22:02] trevordmiller opened #139 "Replace publishing the package from Taylor's personal account to the eggheadio org"

[2017-05-02 22:04] #96 closed

[2017-05-02 22:18] trevordmiller opened #140 "Address SSR issues"
Local storage shouldn't be used directly (could probably just `get(localStorage, 'token')` with lodash). Are there any other issues? Is there an eslint plugin to catch these issues before pushing them?

[2017-05-03 07:07] trevordmiller commented on #140
I'd like to spend 30 minutes swaping out react-scripts (cra) with next for a SSR environment to catch issues

[2017-05-04 17:07] joelhooks opened #142 "instructor lesson rows have unclear presentation"
The lesson rows have a lot of potential to deliver information quickly and provide the UI to manage the state and progress of instructor content through publication.

The rows provide a significant amount of room on the screen to pack in some additional information to provide context and clarity.

Specifically there are two areas that could use additional information and visual treatment.

![image

[2017-05-04 17:19] joelhooks opened #143 "lesson queue publication list priority"
The lesson lists in a tab interface could be presented in a priority that makes more sense in terms of the priority of items within each tab.

The first questions to answer for this screen are:

* who is this page for? [profiles](https://paper.dropbox.com/doc/01.-primary-egghead-users-JmREZzJPE7tkKskIPffwr)
* what is the practical intent of this page?
* what workflows should be provided?

![image]

[2017-05-04 17:33] joelhooks opened #144 "instructor listing screen needs enhancement"
The instructor listing page opens to the list of unpublished instructors. Specifically our own @zacjones93's head is at the top always, and then a list of "lost opportunities" unfolds below him.

![image](https://cloud.githubusercontent.com/assets/86834/25716535/3a805586-30b4-11e7-96b6-cdbe4b693786.png)

The second tabs lists only three instructors, which is probably a bug? Otherwise it likely int

[2017-05-04 17:34] trevordmiller opened #145 "Improve lesson actions"
Feedback from new instructors: Lesson actions don't appear as call to actions, the icons are confusing since they match the todo list (we need unique icons for [each possible lesson state](https://github.com/eggheadio/egghead-ui/blob/master/src/package/utils/lessonStates/index.js#L4-L82)), and Joel suggested the lesson actions could have less-terse text, although with the current design there isn'

[2017-05-04 17:35] trevordmiller commented on #145
![image](https://cloud.githubusercontent.com/assets/5497885/25716854/d4afaa40-30bd-11e7-8c5d-44442f6a8943.png)

[2017-05-04 17:37] trevordmiller commented on #145
@vojtaholik Can you please look into this when you have a chance? We need to consider every possible lesson state from here:
https://github.com/eggheadio/egghead-ui/blob/master/src/package/utils/lessonStates/index.js#L4-L82

[2017-05-04 17:39] joelhooks opened #146 "update long section descriptions with tool-tip or link to article"
Throughout the instructor screens we have used long text descriptions to describe what that section is. Helping people understand is a great strategy, but presenting blocks of text as a permanent fixture becomes cruft after it has been read once or twice.

These can be switched to a "help icon" or other indication that the use can hover/click to get the contextual help they might need when they ac

[2017-05-04 17:46] joelhooks commented on #145
@trevordmiller @vojtaholik there's been [a lot of thought](https://paper.dropbox.com/folder/show/Instructor-Center-e.iX7ZavGxujPFwhjOZcQs9wM75WdG5Qz8ElgJ2CUTM2Ywfb1nD9), which might be a better launching point for design consideration than lines of js.

Can we close this in favor of https://github.com/eggheadio/egghead-ui/issues/142 please?

[2017-05-04 17:47] trevordmiller commented on #145
@joelhooks Yep hadn't seen that yet

[2017-05-04 17:47] #145 closed

[2017-05-04 17:49] trevordmiller commented on #142
A lot of the information in this story is specific to the full screen instance; I'd suggest also checking the instances with other input and screen sizes as well as the layout changes based on the container size as can be tested here:
https://styleguide.egghead.io/components/LessonOverviews

But yes we need to address making these actions more clear. Interested in @vojtaholik's thoughts.

[2017-05-04 17:50] trevordmiller commented on #142
All lesson actions should be considered as well which are not represented in the story. Yes this is JS, but here is the full list which shows which color + text + icon is currently associated with each lesson state: https://github.com/eggheadio/egghead-ui/blob/master/src/package/utils/lessonStates/index.js#L4-L82

[2017-05-04 18:02] trevordmiller commented on #144
Part of this is a bug, introduced when instructor pagination was added; pagination needs to be supported on the client along with any changes to functionality here. Would like @vojtaholik thoughts as well.

[2017-05-04 18:18] trevordmiller opened #147 "Add log out to menu"
Logging in is a bit finicky as @vojtaholik has experienced. I would like to add a log out menu item which also logs you out of the staging endpoint so that you can get a clean login for testing.

[2017-05-04 18:18] trevordmiller opened #148 "Investigate staging and dev endpoints"
Endpoints stopped working today, something is up - getting the infinite loading spinner. Need to look into this.

[2017-05-04 18:19] joelhooks commented on #144
This issue is generally intended for comment to get a loose plan and next steps. If we ignore the display bug, *what is this page*?

In my mind this is the screen that exists at https://egghead.io/instructors.

It will be visible globally and provides a list of our awesome instructors, which is challenging. We want it to display all of the instructors and link to their profiles. Could it show high

[2017-05-04 22:14] beeman opened #149 "The revenue graph makes the initial page scroll horizontally"
As seen on the screenshot the revenue graph causes the page to scroll. If I recall correctly this is something that got changed not too long ago.

![image uploaded from ios 1](https://cloud.githubusercontent.com/assets/36491/25727092/ef771a32-30ec-11e7-8e6a-0629ca7066f2.jpg)

[2017-05-04 22:15] beeman opened #150 "Side menu on mobile is opened by default"
The side menu on mobile is opened by default whereas before it was closed.

Probably related to #149, which makes the viewport larger than expected.

![image uploaded from ios](https://cloud.githubusercontent.com/assets/36491/25727078/df7ce5e4-30ec-11e7-94e8-642a799d9bc4.jpg)

[2017-05-05 16:54] trevordmiller commented on #149
Thanks for letting us know @beeman, this may be an issue with mobile safari. Will look into it.

[2017-05-05 16:55] trevordmiller commented on #150
Thank you for the issue @beeman; will look into this.

[2017-05-05 17:04] trevordmiller opened #152 "Create a staging environment account that can be shared publicly in the readme for public pull requests"

[2017-05-05 17:06] trevordmiller commented on #144
I'm open to any suggestions. Can I get a list of what should be changed? @joelhooks @vojtaholik and I can implement.

[2017-05-05 17:07] trevordmiller commented on #143
I'm open to any suggestions. Can I get a list of what should be changed? @joelhooks @vojtaholik and I can implement.

[2017-05-05 17:07] trevordmiller commented on #146
I'm open to any suggestions. Can I get a list of what should be changed? @joelhooks @vojtaholik and I can implement.

[2017-05-05 17:08] trevordmiller commented on #142
I'm open to any suggestions. Can I get a list of what should be changed? @joelhooks @vojtaholik and I can implement.

[2017-05-05 18:47] vojtaholik commented on #142
**I'll provide designs**, so far I've been exploring a visual potential behind all this, wip http://cloud.egghead.io/1J1Z0f022J2I

[2017-05-05 18:49] vojtaholik commented on #143
I'll provide wires/designs for different roles. Working on it.

[2017-05-05 18:52] vojtaholik commented on #146
Designs are cooking for this. 👍

[2017-05-08 16:03] trevordmiller opened #153 "Add pagination to Instructor Directory"
When pagination was added to the `InstructorDirectory` it broke the client (only showing the first page of instructors now); pagination support needs to be added to the client to show all pages of instructors.

- [x]  Fix lesson pagination
- [x]  Add pointer to pagination buttons
- [x] Add instructor pagination
- [x]  Show sort query param?
- [x]  Show loading on pagination change
- [ ] Update IC

[2017-05-08 16:16] trevordmiller commented on #144
The pagination issue is now in a separate story: https://github.com/eggheadio/egghead-ui/issues/153. Will continue to use this story for discussion on how to improve the instructor directory overall - I am open to whatever ideas everyone has and whatever @vojtaholik comes up with.

[2017-05-08 16:17] trevordmiller opened #154 "Resolve HoneyBadger runtime errors"

[2017-05-08 16:20] trevordmiller commented on #142
@vojtaholik Thanks Vojta, will look forward to what you come up with.

[2017-05-08 16:21] trevordmiller commented on #143
@vojtaholik Thanks Vojta. Will wait to hear back from you.

[2017-05-08 16:21] trevordmiller commented on #146
Thanks @vojtaholik. Will wait to hear back from you.

[2017-05-08 17:02] trevordmiller commented on #144
The main things I personally would like out of this screen would be an easy way for mentors to review lessons that need review (currently doing this using the "In Review" tab and manually picking instructors that are newer).

[2017-05-08 17:14] trevordmiller commented on #140
Related issue in Chart.js: https://github.com/chartjs/Chart.js/pull/3909

[2017-05-08 17:15] joelhooks commented on #140
We use master of Chart.js and it functions as expected with SSR. https://github.com/eggheadio/egghead-rails/blob/master/client/package.json#L52

[2017-05-08 19:46] trevordmiller commented on #140
That works for now; we should use a specific version after they cut the next release though as master is unstable

[2017-05-08 22:07] trevordmiller commented on #148
They started working again

[2017-05-08 22:07] #148 closed

[2017-05-09 10:17] vojtaholik commented on #142
### Couple of questions:

**1.** Lesson editing within IC. Should I count with that?
- **if yes**, "edit" and "upload video" actions wouldn't make sense anymore since you could tap a whole lesson card which would take you to the detail where you can edit it. I know we're planning this, not sure when though.
- Right now, tapping "edit" redirects you to `egghead.io/lessons/[...]/edit` - so buttons m

[2017-05-09 11:52] vojtaholik commented on #142
What I’m quite confident about is dividing list item into three parts. There’s a state indicator at the left. Topic headline, instructor face+name and tag image in the middle (we could add "next step" sentence as well). Right side would always carry actions. So you can easily read it from left to right (state, topic+author, next step). _Though mobile won’t be THAT nice._

**I'm asking myself:**
-

[2017-05-09 16:14] trevordmiller opened #155 "Remove "d" on approve action"

[2017-05-09 16:26] trevordmiller commented on #142
@vojtaholik Thanks for your help; here is what I know per your questions:
1) Not sure, I'll defer to @joelhooks. All I know is the plan is to move the egghead-ui screens (previously known as the Instructor Center) into egghead-rails, so the edit screens will live in the same place as the new screens.
2) What do you mean by bulk actions?
3) Mostly; the way the actions work (and all permission based

[2017-05-09 16:36] #140 closed

[2017-05-09 16:54] joelhooks commented on #142
I don't like this page in general, and think it generally needs to be scrapped and rethought. It hasn't had any practical ui/ux planning or design applied. If I'm not mistaken, it is a literal application of [this page](http://cloud.egghead.io/2C3e16092e3V), except with tabs instead of a long column.

If it is going to continue to exist we can make adjustments so that it has some utility. That's w

[2017-05-09 17:14] trevordmiller opened #156 "Fix getLoginUrl for auth"

[2017-05-09 17:42] trevordmiller commented on #142
@joelhooks Can you please give specific actionable things that you would like to see instead? I personally find value from this page - I use it every day to see what is being worked on and what I can help review. But I'm happy to make changes, just need to know what they are.

[2017-05-09 20:00] trevordmiller commented on #149
Confirmed this is a race condition with the `ContainerWidth` component wrapper for container-query-esque styles. A fix is in progress.

[2017-05-09 20:13] trevordmiller commented on #149
It has to do with the way that Chart.js measures the dom container width with JavaScript on dom load. Have a solution in the works.

![image](https://cloud.githubusercontent.com/assets/5497885/25870085/08d10eee-34c0-11e7-928d-3a5dc67c8b7a.png)

![image](https://cloud.githubusercontent.com/assets/5497885/25870533/9e2f1944-34c1-11e7-97d4-a3607be36bb7.png)

[2017-05-09 20:40] trevordmiller commented on #149
Fixed. Going out in next release. Thanks for the info @beeman.
![fix-revenue](https://cloud.githubusercontent.com/assets/5497885/25871618/6975d586-34c5-11e7-86af-1ef96397676b.gif)

[2017-05-09 20:45] trevordmiller commented on #150
Not related to 149, but I know what the problem is. In progress.

[2017-05-09 20:57] trevordmiller commented on #142
In https://github.com/eggheadio/egghead-ui/pull/157, I fixed typo "d" so "Approved" is now "Approve". Also switched the check icons to be add "+" icons for now, to avoid the confusion with the new instructor get published checklist.

[2017-05-09 21:02] trevordmiller commented on #150
Waiting for [the latest egghead-ui PR](https://github.com/eggheadio/egghead-ui/pull/157) to be approved and merged so I can upgrade the egghead-instructor-center and fix this.

[2017-05-10 17:14] #147 closed

[2017-05-10 17:14] #149 closed

[2017-05-10 17:14] #154 closed

[2017-05-10 17:14] #155 closed

[2017-05-10 17:14] #156 closed

[2017-05-10 17:20] vojtaholik commented on #146
Something like this?

zeplin https://zpl.io/Z1uFEwT
mockup http://cloud.egghead.io/2k023y0m1l2o
svg icon http://cloud.egghead.io/2t3f45353j3v

I'd keep it simple. Oh and tap insted of hover for mobile.

[2017-05-10 17:41] trevordmiller commented on #146
@vojtaholik Looks great to me. @joelhooks, you cool with that? If so, I'll move this to ready to implement and add a `Tooltip` component to egghead-ui, which can be used to replace the large text blocks in the following locations:

# RequestedLessons

Shown on the `NewLesson` and `InstructorDashboard` screens.

![image](https://cloud.githubusercontent.com/assets/5497885/25912312/0c6f4408-3574-11e7

[2017-05-10 17:51] vojtaholik commented on #142
I hear y'all! 👍

@trevordmiller Here are the **lesson icons and states** listed separately:
https://zpl.io/W4GDR

Mockup for a slightly better context:
https://egghead.invisionapp.com/d/main/#/console/10849492/233097984/preview

Regarding row card drawer @joelhooks and I discussed yesterday - shall we create another story for that?

[2017-05-10 18:12] trevordmiller commented on #142
@vojtaholik Awesome! I like your mocks; nice colors, icons (I like the emoji use), and descriptions. Sounds like this would be good next steps:

# Step 1

On `LessonOverview` components, replace the gray lesson state word with the new icons + colors + badges + description pieces from the mocks:

### Before:
![image](https://cloud.githubusercontent.com/assets/5497885/25913872/89bfe188-3579-11e7-8b2

[2017-05-10 19:34] trevordmiller commented on #150
@beeman This has been fixed and will go out in the next release:
![responsive-navigation](https://cloud.githubusercontent.com/assets/5497885/25917452/549a7f8e-3585-11e7-9220-afdd9ee1650b.gif)

Thanks for your help!

[2017-05-10 20:18] beeman commented on #150
Thanks for fixing it so fast @trevordmiller 👍

[2017-05-10 21:35] trevordmiller commented on #150
@beeman No problem. Appreciate your issue; it's been released to prod: https://instructor.egghead.io/.

If you are interested in contributing in the future, I'd like to set up a test account for you:
https://github.com/eggheadio/egghead-ui/issues/152

[2017-05-10 21:35] #150 closed

[2017-05-10 21:35] #108 closed

[2017-05-10 21:54] beeman commented on #150
@trevordmiller just confirmed that both issues are fixed!

I'm interested in that for sure.

[2017-05-11 20:40] vojtaholik commented on #146
@trevordmiller I'd probably leave "Help" section as it is, it's about text. What do you think? Or would you hide only first paragraph?

[2017-05-11 20:54] trevordmiller commented on #146
@vojtaholik Sounds good to me - it's temporary anyway, it goes away when the instructor publishes their first lesson

[2017-05-11 22:29] trevordmiller commented on #144
I just checked and the `api/v1/instructors` endpoint doesn't seem to have a `sort` property like the `/lessons` endpoint does (which lets you sort by any lesson property). Once we determine what the next iteration of this screens should look like, we will likely need `sort` query param support on the `/instructors` endpoint to do things like: `api/v1/instructors?page=1&per_page=10&sort=date_joined

[2017-05-11 22:50] trevordmiller commented on #144
I think it would be cool if this "Instructor Directory" screen was ranked in a smart way; so newer instructors and instructors that are doing well (are actively creating new lessons/courses) show up first; would like your thoughts @vojtaholik

[2017-05-12 08:55] vojtaholik commented on #143
### **As an editor**
- I want to provide feedback / actions to **latest IN REVIEW lessons** (submitted or updated)
[this is now under IN REVIEW tab]

- I want to be able to accept proposed topics and also keep in track with what topics have been claimed.  [this is now under IN PROGRESS tab]  (I can imagine a quick "propose topic" card there as well - do you think that would be helpful?)

### **As

[2017-05-12 16:21] #153 closed

[2017-05-12 17:24] trevordmiller commented on #143
@vojtaholik @joelhooks

Sounds good.

I could add the `ProposeLessonForm` easily if you think it would improve the UX; the sub-component in [the `RequestedLessons` component](https://styleguide.egghead.io/components/RequestedLessons) that toggles from "+ PROPOSE A NEW LESSON" to the form.

Sounds good. The only thing to note is that the way [the `LessonOverviewsByGroup` component](https://stylegui

[2017-05-15 08:44] vojtaholik commented on #142
@trevordmiller Thats sort of why I wasn't sure about this and had done bunch of different variations earlier, like this ➡️  http://cloud.egghead.io/3K363S2B3w2O (I still think this is a decent solution, at least for IC)

![image](https://cloud.githubusercontent.com/assets/86834/26080291/ab4e7012-397a-11e7-94c3-e884a7710576.png)

A drawer is cool, however doesnt allow direct actions when collapsed,

[2017-05-15 11:32] vojtaholik commented on #143
Thanks @trevordmiller

This is how I see basic enhancements based on what we currently have
➡️ https://egghead.invisionapp.com/d/main/#/projects/prototypes/11043434

Tabs order differ based on user type (I'll keep calling it like that:]).
Instructors don't see other's work. Just theirs + requested.

I might go more crazy for sure. Oh, and It's actually based on Nick's "Creators' Center Strategy v0

[2017-05-15 17:01] trevordmiller commented on #142
@vojtaholik I could also have the component include a drawer prop, so it could be turned on (hiding by default with dropdown) or off (showing by default with no dropdown) for different situations, which you could pass different actions to. That would probably make the most sense.

[2017-05-15 17:07] trevordmiller commented on #143
@vojtaholik Thanks. Left a couple comments on the InVision mocks. I'm cool with whatever Joel wants.

[2017-05-15 19:21] trevordmiller commented on #138
Waiting for production API support, per https://eggheadio.slack.com/files/trevordmiller/F5D3EJLGG/image.png. Once this is ready, I have the client GraphQl + Relay Modern pieces saved and well on their way to being set up.

[2017-05-15 21:28] joelhooks commented on #142
the rows can have an option to "force open" in appropriate context

[2017-05-15 21:33] joelhooks commented on #143
This is a good spot to actually summon the man himself to get some input.

* [user profiles and how they might use this list](https://paper.dropbox.com/doc/01.-primary-egghead-users-JmREZzJPE7tkKskIPffwr)
* [basic overview of the production process](https://paper.dropbox.com/doc/05.-Content-Publishing-Queue-7YaNO2HnqbEuwHFT3nUwU) (this could use more details, likely)
* conversation above

cc @nick

[2017-05-16 01:43] trevordmiller commented on #143
@joelhooks @nickdpi would also be good to review this related story: https://github.com/eggheadio/egghead-ui/issues/142

[2017-05-16 15:03] nickdpi commented on #142
I believe I commented on the initial mocks of this; I'm overall okay with the implementation of this.

One more thing to keep in mind, though: some of the actions should convey _state_. Once a video has already been approved, then you'll either want to remove that as an option or switch it to "unapprove". You'll probably also want to remove "ask for changes" as an option as well.

I'd be curious t

[2017-05-16 15:06] joelhooks commented on #142
@nickdpi the actions appear based on a "finite state machine" that is implemented on code. Given your current state, you can transition to specific states. So if you are currently in "approved" you will only be presented valid actions (transitions to other states) for "approved"

[2017-05-16 15:14] nickdpi commented on #143
Wrote a handful of comments in other GitHub stories and on InVision. Most of this looks good, and it's a lot to digest, so most of my feedback comes in the form of either wanting more specificity (what constitutes the transition from one role to another, the logic around what functions are allowable on each lesson to each role, etc) or having questions (how lessons are sorted when there's a partic

[2017-05-16 15:30] nickdpi commented on #142
Got it, that's good to know. Thanks!

[2017-05-16 16:51] trevordmiller commented on #142
Ok, I'm moving this to ready to implement and will start on it. Thanks!

[2017-06-25 04:46] #111 closed

[2017-06-25 04:46] #114 closed

[2017-06-25 04:46] #137 closed

[2017-06-25 04:46] #138 closed

[2017-06-25 04:47] #139 closed

[2017-06-25 04:47] #152 closed

[2018-08-24 19:59] trevordmiller commented on #146
@joelhooks @vojtaholik I've been using GitHub issues more and am trying to make use of the "assigned" feature. I have some egghead issues assigned to me like this still but don't have permissions to change this. Could I be unassigned from these issues please?

- https://github.com/eggheadio/egghead-ui/issues/146 (this one)
- https://github.com/eggheadio/egghead-ui/issues/144
- https://github.com/e

[2018-08-24 19:59] trevordmiller commented on #146
Weird, looks like it did it automatically for this one when I posted the message 😕

[2018-08-24 20:01] trevordmiller commented on #144
Commenting so I can be unassigned from this

[2018-08-24 20:01] trevordmiller commented on #143
Commenting so I can be unassigned from this

[2018-08-24 20:01] trevordmiller commented on #142
Commenting so I can be unassigned from this

[2019-01-08 15:59] #90 closed

[2019-01-08 15:59] #92 closed

[2020-05-25 04:33] Ashikpaul opened #166 "Video doesn't get paused on screen lock"
Dear egghead team, love your work. your videos have helped me a lot. 😍

I'm sorry if this is not the right place to report this. I didn't find a feedback button in the site. If this is not the right place, please direct me. 🙏

Well the issue is while I was watching a video I had to go out, so I locked the screen. What I was expecting was the video to get paused automatically so that I can come bac